POSTGRES_DB=aline
POSTGRES_USER=aline
POSTGRES_PASSWORD=alinepass
JWT_SECRET=change_me_to_a_long_random_secret

WATCH_PATH=C:\AlineInbox
FILE_STORAGE_ROOT=C:\AlineStorage

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5:7b-instruct

WEB_PORT=987654
